<header>
    <a class="logo" href="/"><img src="/images/logo.svg" width="100px" alt="logo"></a>
    <nav>
        <ul class="nav__links">
            <li><a href="#">Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <span style="display: flex">
        <a class="cta" href="/content/create">New Post</a>
        <span style="margin: 8px"></span>
        <a class="cta" href="/dev/api">API</a>
    </span>
</header>