<header>
    <a class="logo" href="/"><img src="/images/logo.svg" width="100px" alt="logo"></a>
    <nav>
        <ul class="nav__links">
            <li><a href="/">Docs</a></li>
            <li><a href="/reference/models">Models</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <span style="display: flex">
        <a class="cta" href="#">Github</a>
    </span>
</header>