<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bg-image-b">
<header class="main">
    <h1 class="jumbo">Register</h1>
</header>
<main>
    <div class="main blur">
        <div class="container">
            <form method="post" action="/register">
                <label><input name="name" type="text" placeholder="Name"></label><br>
                <label><input name="email" type="email" placeholder="Email"></label><br>
                <label><input name="password" type="password" placeholder="Password"></label><br>
                <button class="custom-button" type="submit">Login</button>
                <br>
            </form>
            <p>
                Already have an account?
                <a class="link" href="/login">Sign in</a>
            </p>

        </div>

    </div>
</main>
</body>
</html>