<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result</title>
</head>
<body>
    <% if (error!==null){%>
        <h1>There is an error message</h1>
        <p> <%=error.message%></p>
    <%}%>

    <% if (success!==null){%>
    <h1>There is an os message</h1>
    <p> <%=success.message%></p>
    Body:
    <p><%=success.body%></p>
    <%}%>

</body>
</html>