:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

.background-image {
    background-image: url('/images/late_at_night.png');
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 800px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
}

:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    margin: 16px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
}

select::-ms-expand {
    display: none;
}

label {
    font-family: "Roboto Light", sans-serif;
    font-size: 14px;
}

.select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    min-width: 200px;
    max-width: 200px;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select select, .select::after {
    grid-area: select;
}

.select:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
}

.input {
    padding: 10px;
    width: 240px;
    margin: 16px;
    border-radius: 8px;
    border: 1px #3e80e3;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.input-sm {
    padding: 10px;
    margin: 16px;
    width: 64px;
    border-radius: 8px;
    border: 1px #3e80e3;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.show {
    display: block;
}

.hide {
    display: none;
}